<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="static/CSS/style.css">
    <script src = "static/validations.js" ></script>
</head>
<body id = "images_list">
<div class="screen">
    <div class="app-title-images">
        <div id='fademe'>
            {% with messages = get_flashed_messages() %}
               {% if messages %}
                  {% for message in messages %}
                     {{ message }}
                  {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class = "control-group-buttons">
            <div class="control-group-image">
                <input type="button" value="Perform an Encryption" onclick="window.location.href='http://localhost:5000/encrypt'" class="btn btn-primary btn-large btn-block" >
            </div>
            <div class="control-group-image">
                <input type="button" value="Perform a Decryption" onclick="window.location.href='http://localhost:5000/decrypt'" class="btn btn-primary btn-large btn-block" >
            </div>
            <div class="control-group-image">
                <div class="trial">
                <input type="button" id="logoutbtn" value="Sign Out" onclick="window.location.href='http://localhost:5000/logout'" class="btn btn-primary btn-large btn-block" >
                </div>
            </div>
        </div>
        <h2>Previously Encrypted images :</h2>
    </div>
    {% for image in images_list %}
    <div class="control-group-image">
        <a href="{{ url_for('static', filename='uploads/'+image) }}" target="_blank"><img src="{{ url_for('static', filename='uploads/'+image) }}" /></a>
    </div>
    {% endfor %}
    <br>
</div>
</body>
</html>










